
@font-face {
	font-family: "Butler";
    src: url("~/Library/Fonts/Butler_Regular.otf");
}

section {
	margin: 250px 0 0 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

h1 {
	font-family: "Butler";
	font-size: 3em;
	font-weight: 400;
	color: black;
}

h2 {
	font-family: "Butler";
	font-size: 2.25em;
	font-weight: 400;
	color: black;
}

body {
	font-family: 'Poppins', san-serif;
	font-size: 1em;
	color: #5D626B;
	line-height: 28px;
}

input[type="submit"]
{
    border: none;
    outline:none;
}

.btn {
	font-weight: 300;
	letter-spacing: 1.38px;
	margin: 0 5px;
}

.btn-primary {
	background-color: #27437C;
	border-color: #27437C;
}

.btn-secondary {
	
}

.white-text {
	color: white;
}

.section-title {
	font-family: "Butler";
	font-size: 6.25em;
	font-weight: 400;
}

.navbar {
	padding: 10px 0;
}

.center {
	text-align: center;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#landing-background {
    padding-top: 4em;
    padding-bottom: 4em;
    height: 100vh;
    background-image: url("./assets/landing.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    background-size: cover;
}

#values .row {
	margin: 50px 0;
}

#values img {
	background-color: maroon;
	padding: 0 0;
	width: 100%;
}

#values .col-md-4 {
	padding-top: 5%;
}

.values-cell-text {
	padding: 5% 0;
}

.thumb {
  width: 100%;
  height: 300px;
}

#thumb1 {
	background: url(./assets/image1.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
	background-size: cover;
}

#thumb2 {
	background: url(./assets/image2.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
	background-size: cover;
}

#thumb3 {
	background: url(./assets/image3.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
	background-size: cover;
}


#faq li {
	margin: 0 0 60px 0;
}

#call-to-action {
	padding-top: 4em;
    padding-bottom: 4em;
    height: 350px;
    background-image: url("./assets/footer.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-size: cover;
}